<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.goodsom.dao.mybatis.mapper.LikeMapper">
  
  <insert id="likeAuction" parameterType="java.lang.Integer">
  	INSERT INTO LIKES_A
  	(USERID, AUCTIONID)
  	VALUES
  	(#{param1}, #{param2})
  </insert>
  
  <insert id="likeGroupBuy" parameterType="java.lang.Integer">
  	INSERT INTO LIKES_G
  	(USERID, GROUPBUYID)
  	VALUES
  	(#{param1}, #{param2})
  </insert>

  <delete id="unlikeAuction" parameterType="java.lang.Integer">
  	DELETE FROM LIKES_A
  	WHERE USERID = #{param1} AND AUCTIONID = #{param2}
  </delete>

  <delete id="unlikeGroupBuy" parameterType="java.lang.Integer">
  	DELETE FROM LIKES_G
  	WHERE USERID = #{param1} AND GROUPBUYID = #{param2}
  </delete>
  
  <select id="getLikeListOfAuction" resultType="java.lang.Integer"> 
    SELECT AUCTIONID
    FROM LIKES_A
    WHERE userId = #{param1}
  </select>
  
  <select id="getLikeListOfGroupBuy" resultType="java.lang.Integer"> 
    SELECT GROUPBUYID
    FROM LIKES_G
    WHERE userId = #{param1}
  </select>
  
</mapper>