<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- AuctionMapper 인터페이스의 package이름과 같아야 함 -->
<mapper namespace="com.example.goodsom.dao.mybatis.mapper.AuctionMapper">
  
  <select id="getLikeListOfAuction" parameterType="java.lang.Integer" resultMap="resultMap_auction"> 
    
  </select>
  
  <insert id="likeAuction" parameterType="com.example.goodsom.domain.Auction">
  	
  </insert>
  
  <insert id="likeGroupBuy" parameterType="com.example.goodsom.domain.Auction">
  	
  </insert>
   
  <delete id="deleteAuction" parameterType="java.lang.Integer">
    DELETE FROM AUCTIONS
    WHERE  AUCTIONID=#{auctionId}
  </delete>

  
  <!-- 경매가 마감된 이후에 알림을 보내기 위한 쿼리 -->
  <select id="getAuctionIdForNoti" resultType="Integer">
	  	SELECT auctionId
    	FROM AUCTIONS
	    WHERE STATE = 'closed' AND sendNoti=0
  </select>
  

</mapper>