<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.goodsom.dao.mybatis.mapper.NotiMapper">
  <cache />
  <sql id="BaseColumns_Noti_Auction">
  		 TITLE, NOTIDATE, USERID, AUCTIONID, STATE
  </sql>
  <sql id="BaseColumns_Noti_GroupBuy">
  		TITLE, NOTIDATE, USERID, GROUPBUYID, STATE
  </sql>

<!-- AUCTION/BID -->
  <insert id="createNoti_a" parameterType="com.example.goodsom.domain.Bid">
  	INSERT INTO NOTIFICATIONS_A (<include refid="BaseColumns_Noti_Auction" />)
	VALUES (#{auctionTitle}, now(), #{userId}, #{auctionId}, 'closed')

  	<selectKey keyProperty="notiId" resultType="int" order="AFTER">
  		SELECT LAST_INSERT_ID()
  	</selectKey>	
  </insert>
  
  <select id="getAuctionNoti" resultType="com.example.goodsom.domain.Notification"  parameterType="int">
  	SELECT * FROM NOTIFICATIONS_A
  	WHERE NOTIID = #{notiId}
  </select>
  
  <select id="getAuctionNotiByUserId" resultType="com.example.goodsom.domain.Notification">
	  SELECT * FROM NOTIFICATIONS_A
	  WHERE USERID = #{userId}
  </select>
  
  <delete id="deleteAuctionNoti" parameterType="java.lang.Integer">
    DELETE FROM NOTIFICATIONS_A
    WHERE NOTIID = #{notiId}
  </delete>
  
  
 <!-- GROUPBUY -->
   <insert id="createNoti_g" parameterType="com.example.goodsom.domain.Notification">
  	INSERT INTO NOTIFICATIONS_G (<include refid="BaseColumns_Noti_GroupBuy" />)
	VALUES (#{title}, now(), #{userId}, #{groupBuyId}, #{state})

  	<selectKey keyProperty="notiId" resultType="int" order="AFTER">
  		SELECT LAST_INSERT_ID()
  	</selectKey>	
  </insert>
  
  <!-- 해당 공동구매에 참가한 모든 유저id 반환 -->
  <select id="getUserIdByGroupBuyId" resultType="Integer" parameterType="Integer">
	  	SELECT DISTINCT userId
    	FROM orders o, lineGroupBuys g
	    WHERE o.orderId=g.orderId AND g.groupBuyId=#{groupBuyId}
  </select>
  
  <select id="getGroupBuyNotiByUserId" resultType="com.example.goodsom.domain.Notification">
	  SELECT * FROM NOTIFICATIONS_G
	  WHERE USERID = #{userId}
  </select>
  
  <select id="getGroupBuyNoti" resultType="com.example.goodsom.domain.Notification"  parameterType="int">
  	SELECT * FROM NOTIFICATIONS_G
  	WHERE NOTIID = #{notiId}
  </select>
  
   <delete id="deleteGroupBuyNoti" parameterType="java.lang.Integer">
    DELETE FROM NOTIFICATIONS_G
    WHERE NOTIID = #{notiId}
  </delete>
  
  <delete id="deleteNotisByUserId_a" parameterType="Integer">
  	DELETE FROM NOTIFICATIONS_A
  	WHERE USERID = #{userId}
  </delete>
  <delete id="deleteNotisByUserId_g" parameterType="Integer">
  	DELETE FROM NOTIFICATIONS_G
  	WHERE USERID = #{userId}
  </delete>

</mapper>